
* {margin: 0; padding: 0; box-sizing: border-box;}

        ul, ol, li {list-style: none; margin: 0; padding: 0; }

h1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  list-style:none;}

body{margin:0; padding:0; }

.navbar {width:100%; display: flex; justify-content: space-between;
  align-items: center;padding: 8px 12px;background-color: #1a1a1a;height:80px; position:fixed;; z-index: 30;}
  
  /* Logo with text */
  .navbar__logo { font-size: 24px; padding-top:15px; }
  
  /* Menu */
  .navbar__menu {display: flex;  padding-top:15px;}
  
  .navbar__menu li { padding: 8px 20px; 
  }

  .navbar__menu li a {color:white; text-decoration: none;}
  
  .navbar__menu li:hover {background-color: #2079ab; border-radius: 4px;
  }
  
  /* Toggle button */
  .navbar__toggleBtn {display:none ;position: absolute;right: 32px;font-size: 24px;color: white;}

    .banner{background-color:#1a1a1a; width:100%; height:100vh; overflow: hidden; display: flex; justify-content: center; align-items: center; margin:-20px 0 0 0;}
    .banner > video {position:absolute; object-fit: cover; width:100%; height:100%; overflow: hidden;}
    .banner > .content {position: relative; z-index: 1; max-width: 1100px; margin:0 auto; text-align: center;}
    .banner > .content > h1 {margin:0; padding:0; font-size:4.5em;  text-transform: uppercase; color:white;}
    .banner > .content > p {margin:0; padding:0;  color:black;}


#whats{width:100%; height:650px; background-color:#1a1a1a;}
.container{background-color: #1a1a1a; width:1200px; height:650px;  text-align: center; align-items: center; margin:0 auto;}
.container > .page1 {align-items: center;}
.container > .page1 > .wih {padding:40px; color:white;}
.container > .page1 > p {padding:40px;color:white;}
.container > .page1 > article {float:left; margin:10px 10px;  width:365px; height:330px; }
.container > .page1 > article > img {width:100%; height:50%;}
.container > .page1 > article > h1 {text-align: center; color:white;}
.container > .page1 > article > p {text-align:center; color:white;}

#price{width:100%; height:1050px; color:white;  background-image:url(../img/blur1.jpg);  }
.container2{ width:1200px; height:1050px;  text-align: center; align-items: center; margin:0 auto; z-index: 6;}
.container2 > .page2 {align-items: center; z-index: 6;}
.container2 > .page2 > h1 {padding:40px; color:white; z-index: 6;}
.container2 > .page2 > p {padding:40px;color:white; z-index: 6;}

#line{width:70px; margin:0 auto;}

table{float:left; width:220px; height:600px; color:white; z-index: 6; margin:10px 10px;   }
td th{border:1px solid lightsalmon; color:white; z-index: 6;}





#service{width:100%; height:850px; background-color: #2079ab;}
.container4{margin:0 auto; width:1200px; height:850px; background-color: #2079ab; text-align: center;}
.container4 > .page4 {align-items: center; z-index: 6;}
.container4 > .page4 > h1 {padding:40px; color:white; z-index: 6;}
.container4 > .page4 > p {padding:40px;color:white; z-index: 6;}

#choose{width:100%; height:900px;  overflow:hidden; background-image: url(../img/blur1.jpg);}
.container5{margin:0 auto; width:1200px; height:900px;  text-align: center;}
.container5 > .page5 {align-items: center; z-index: 6;}
.container5 > .page5 > .chh {padding:40px; color:white; z-index: 6; }
.container5 > .page5 > p {padding:40px;color:white; z-index: 6;}


#review{width:100%; height:650px; background-color: #1a1a1a; }
.container6{margin:0 auto; width:1200px; height:650px; background-color: #1a1a1a; text-align: center;}
.container6 > .page6 {align-items: center; z-index: 6;}
.container6 > .page6 > h1 {padding:40px; color:white; z-index: 6;}
.container6 > .page6 > p {padding:40px;color:white; z-index: 6;}

#footer{width:100%; height:150px; background-color:#1f1f1f; text-decoration-line: none;}
.container7{padding:35px;margin:0 auto; width:1200px; height:150px; background-color:#1f1f1f; text-align: center; text-decoration-line: none;}

.social{display:inline-block; margin:0 auto;  text-align: center;}
.social{font-size:1.5em;}
.container7 > .social > a{padding-top:40px;color:white; text-decoration-line: none; font-size:1.5em;}
.container7 > .social > a:hover{color:#2079ab;}

@media screen and (max-width:701px){
     
   
        /* Nav container */

        .logo { padding-top:15px;}
        .navbar {flex-direction: column;align-items: flex-start; padding:none;}

        .navbar__logo > img {padding-top:10px;}
      
        /* Menu */
        .navbar__menu {  display: block; flex-direction: column;text-align: center; width: 100%; z-index: 30;
        background-color: #1a1a1a;  }

        .navbar__menu li{padding:none;}
      
        .navbar__menu a {
          /* Fill in an entire line so that user can click on any space */
          display: block; color:black;
        }
      
     
   
      
        /* Toggle button */
        .navbar__toggleBtn {display: block; padding-top:25px;}
      
        
        .navbar__menu.active,.navbar__icons.active{display: flex;}
      

        .banner{width:100%; height:100vh; background-color:#1a1a1a;}

        #whats{width:100%; height:1300px;}

        .container{width:100%; height:1300px;  flex-direction: row wrap; position:none;}
        .container > .page1 > article{width:100%; margin:-10px 0px;}
      
      

        #price{width:100%; height:3800px;}
        .container2{width:100%; height:3800px; flex-direction: row wrap;}
        table{width:100%; height:600px; margin:30px 0px;}

        #service{width:100%; height:1550px;}
        .container4{width:100%; height:1550px;}

        #choose{width:100%; height:1600px;}
        .container5{width:100%; height:1600px;}

        #review{width:100%; height:1120px;}
        .container6{width:100%; height:1120px;}

        #footer{width:100%; height:200px;}
        .container7{width:100%; height:200px;}
        .social{font-size:1.5em;}

        .container7 .social a i {width:60px; height:40px;}
    }

    @media (max-width:945px) and (min-width:701px){


        .banner{width:100%; height:100vh; background-color:#1a1a1a;}

        #whats{width:100%; height:2000px;}

        .container{width:100%; height:2000px;  flex-direction: row wrap;}
        .container > .page1 > article{width:100%; height:100%; margin:20px 0px;}
        .container > .page1 > article > img{width:90%;}
        .container > .page1 > article > h1 {padding-left:42px; text-align: left; color:white;}
        .container > .page1 > article > p {padding-left:42px; width:90%; height:10%; text-align:left; color:white;} 

        #price{width:100%; height:3800px;}
        .container2{width:100%; height:3800px; flex-direction: row wrap;}
        table{width:100%; height:600px; margin:30px 0px;}

        #service{width:100%; height:1550px;}
        .container4{width:100%; height:1550px;}

        #choose{width:100%; height:1600px;}
        .container5{width:100%; height:1600px;}

        #review{width:100%; height:1120px;}
        .container6{width:100%; height:1120px;}

        #footer{width:100%; height:200px;}
        .container7{width:100%; height:200px;}
        .social{font-size:1.5em;}


        


   
} 


    @media (max-width:1199px) and (min-width:946px){
        .banner{width:100%; height:100vh; background-color:#1a1a1a;}

        #whats{width:100%; height:650px;}
        .container{width:100%; height:650px;  }
        
        .container > .page1 > article > img {width:100%;}
        .container > .page1 > .at1{width:31%;}
        .container > .page1 > .at2{width:31%;}
        
        .container > .page1 > .at3{width:31%;}

        #price{width:100%; height:1000px;}
        .container2{width:100%; height:1000x; }
        .container2 > .page2 > table{float:left; width:17%; height:600px; color:white; position:relative; left:3%;}
        .container > .page1 > article > h1 {text-align:left; color:white;}
        .container > .page1 > article > p {text-align:left; color:white; }       

        #service{width:100%; height:900px;}
        .container4{width:100%; height:900px;}

        #choose{width:100%; height:1500px;}
        .container5{width:100%; height:1500px;}

        #review{width:100%; height:700px;}
        .container6{width:100%; height:700px;}

        #footer{width:100%; height:200px;}
        .container7{width:100%; height:200px;}
        .social{font-size:1.5em;}
         

     

   }

 
   






