h1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }


#whats{width:100%; height:800px; background-color:red;}
.container{background-color:blue; width:1200px; height:800px; margin:0 auto; }
.container > .page1 > .wih {color:white; text-align: center; padding-top:30px;}
.container > .page1 > h3 { color:white; text-align: center; padding-top:10px; }

table{float:left; width:370px; height:800px; color:white; z-index: 6; margin:10px 10px; align-items: center;  }
td th{border:1px solid lightsalmon; color:white; z-index: 6;}

.sale{font-size:24px; text-align:center; width:170px; height:30px; background-image: url(../img/price_arrow.png);  padding: -30px 5px 20px    40px;}

#textbox{width:100%; height:100px; background-color: #f55156;
background-image: linear-gradient(to right,#bb397d,#f55156,#e6237c);}
.tb1{ width:1200px; height:100px; margin:0 auto;}
.tb1 > .pagetb > h2 {text-align: center; color:white; padding-top:30px; }
.tb1 > .pagetb > h2 button {width:90px; height:30px; margin-left:20px; border-radius: 20px;
float:right; background-color: white; border:1px solid #fff; position:relative; right:330px;
font-style: bold; }
.tb1 > .pagetb > h2 > button a {text-decoration: NONE;}


#server{width:100%; height:200px; background-color: #1f1f1f;}

.sb1{width:1200px; height:200px; background-color:#1f1f1f; margin:0 auto;}
.spage > .sb1 > h1 { text-align:left; color:white; padding-top:40px; font-size: 40px;}
.spage > .sb1 > h3 { text-align:left; color:white; padding-top:15px;}
.spage > .sb1 > ul {float:right;  padding:8px 12px; }
.spage > .sb1 > ul > li {float:left; padding:8px 12px; list-style: none; color:white;}
.spage > .sb1 > ul > li  a {color:white; text-decoration: none;}
.spage > .sb1 > ul > li:hover {background-color:#2079ab; border-radius: 4px;}

#photobox{width:100%; height:400px; background-color: #1a1a1a;}
.pb1{width:1200px; height:400px; margin:0 auto; color:aqua;}

#option{width:100%; height:400px; background-color: rgb(211, 211, 47);}
.ob1{width:1200px; height:400px; margin:0 auto; color:brown;}

#hostbox{width:100%; height:150px; background-color:red;}
.host1{background-color:black; width:1200px; height:150px; margin:0 auto; text-align: center; }
.host1 > .pagehx > h1 {color:white; text-align: center; padding-top:15px;}
.host1 > .pagehx > h3 {color:white; text-align: center; padding-top:15px;}


#needs{width:100%; height:900px; background-color: cadetblue;}
.nb1{margin:0 auto; width:1200px; height:900px; text-align: center;}
.nb1 > .pagenb > h1 {color:white; text-align: center; padding-top:20px;}

#hostca{width:100%; height: 1300px; background-color: black;}
.hcbox1{width:1200px; height:1300px; margin:0 auto; background-color:white;}
.inner{width:100%; height:auto;}


#photobox2{width:100%; height:750px; text-align: center;}
.ph2 {margin:0 auto; width:1200px; height:750px;  text-align: center;}
.ph2 > .pageph2 {align-items: center; z-index: 6; }
.ph2 > .pageph2 > .chh {padding:40px; color:black; z-index: 6; text-align: center; }
.ph2 > .pageph2 > p {padding:40px;color:black; z-index: 6; text-align: center;}    

#libox{width:100%; height:900px; background-color: #2079ab;}
.libox1{width:1200px; height:900px; margin:0 auto; background-color:black;}