#wrap1 {width:1100px; height:140px;  margin:0 auto; display:flex; justify-content:space-between; align-items:center; flex-flow:row wrap; text-decoration-line: none;}
.box1 {width:47%; height:140px;  display: flex; text-decoration-line: none;  margin:50px 0;}
#wrap1 > .box1 > .photoba {color:white; font-size:80px; padding-top:30px; padding-left:15x; }
#wrap1 > .box1 > i:hover{color:#2079ab}

.text1 {width: 80%; padding-top:30px; padding-left: 10px; text-align: left; }
h3{color:white;}
p{color:#90bcd5;}

#wrap2 { width:1100px; height:140px;  margin:0 auto; display:flex; justify-content:space-between; align-items:center; flex-flow:row wrap; text-decoration-line: none;}
.box2 { width:47%; height:140px;  display: flex; text-decoration-line: none;   margin:65px 0 0 0;}
#wrap2 > .box2 > .photoba {background-color: #1a1a1a; font-size:80px; padding-top:30px; padding-left:25px; }
#wrap2 > .box2 > i:hover{color:#2079ab}
.text2 {width: 80%; padding-top:30px; padding-left:10px; text-align: left; }

p{color:#90bcd5;}


#wrap3 {  width:1100px; height:140px;  margin:0 auto; display:flex; justify-content:space-between; align-items:center; flex-flow:row wrap; text-decoration-line: none;}
.box3 { width:47%; height:140px;  display: flex; text-decoration-line: none; margin:85px 0; }
#wrap3 > .box3 > .photoba {color:white; font-size:50px; padding-top:30px; padding-left:40px;  }

.text3 {width: 80%; padding-top:30px; padding-left: 10px; text-align: left;}


#wraphost {width:1100px; height:140px;  margin:0 auto; display:flex; justify-content:space-between; align-items:center; flex-flow:row wrap; text-decoration-line: none;}
.boxhost {width:47%; height:140px;  display: flex; text-decoration-line: none;  margin:10px 0;}
#wraphost > .boxhost > i {color:#2079ab; font-size:50px; padding-top:50px; padding-left:15x; }
#wraphost > .boxhost > i:hover{color:black;}

.texthost {width: 80%; padding-top:30px; padding-left: 30px; text-align: left; }
.texthost > h3 {color:black;}


@media screen and (max-width:800px) {

#wrap1{width: 90%; height:auto; flex-direction:row wrap; margin:auto;}   
.box1{width:100%; height:150px; margin:20px 0;}
.box1 > i {width:60%; height:150px; background-position:center; background-size:cover; }

#wrap2{width: 90%; height:auto; flex-direction:row wrap;}   
.box2{width:100%; height:150px; margin:20px 0;}
.box2 > i {width:60%; height:150px; background-position:center; background-size:cover; }

#wrap3{width: 90%; height:auto; flex-direction:row wrap;}   
.box3{width:100%; height:150px; margin:20px 0; }
.box3 > i {width:60%; height:150px; background-position:center; background-size:cover; }

.text1 , .text2 , .text3 {padding-left:15px; } 

#wraphost{width:90%; height:auto; flex-direction: column; margin:auto;}
.boxhost{width:100%; height:180px; margin:auto;}
.texthost{width:100%;}
}

@media (min-width:801px) and (max-width:1199px){
#wrap1{width: 90%; height:auto; flex-direction:row wrap; margin:auto; ;}   
.box1{width:100%; height:150px; margin:20px 0; background-color: #ff620c;}
.box1 > i {width:60%; height:150px; background-position:center; background-size:cover; }

#wrap2{width: 90%; height:auto; flex-direction:row wrap;}   
.box2{width:100%; height:150px; margin:20px 0;}
.box2 > i {width:60%; height:150px; background-position:center; background-size:cover; }

#wrap3{width: 90%; height:auto; flex-direction:row wrap;}   
.box3{width:100%; height:150px; margin:20px 0; }
.box3 > i {width:60%; height:150px; background-position:center; background-size:cover; }

.text1 , .text2 , .text3 {padding-left:15px; } 

#wraphost{width:90%; height:auto; flex-direction: column; margin:auto;}
.boxhost{width:100%; height:180px; margin:auto;}
.texthost{width:100%;}
}