* {margin: 0; padding: 0; box-sizing: border-box;}

        ul, ol, li {list-style: none; margin: 0; padding: 0; }

h1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  list-style:none;}

body{margin:0; padding:0; }
.navbar{margin:0 auto; height:80px; width:100%; background-color:#1a1a1a; z-index: 10; justify-content: center; text-align: center; z-index:10;  position:fixed; }
#logo{float:left; width:150px; height:40px;}
.container10{position:fixed; padding-top:40px;  margin:0 auto; width:1200px; height:40x;  left:50%; transform:translate(-50%,0); background-color:#1a1a1a; z-index:10; }

.navbar ul {display:flex; justify-content: space-evenly; padding-left:150px; }
.navbar ul li a{color:white; text-decoration-line: none; }
.navbar ul li a:hover{color:#2079ab;}


.banner{width:100%; height:100vh; overflow: hidden; display: flex; justify-content: center; align-items: center; margin:-20px 0 0 0;}
.banner > video {position:absolute; object-fit: cover; width:100%; height:100%; overflow: hidden;}
.banner > .content {position: relative; z-index: 1; max-width: 1100px; margin:0 auto; text-align: center;}
.banner > .content > h1 {margin:0; padding:0; font-size:4.5em;  text-transform: uppercase; color:white;}
.banner > .content > p {margin:0; padding:0;  color:black;}

#whats{width:100%; height:520px; background-color:#1a1a1a;}
.container{background-color:#1a1a1a; width:1200px; height:520px;  text-align: center; align-items: center; margin:0 auto;}
.container > .page1 {align-items: center;}
.container > .page1 > .wih {padding:20px; color:white;}
.container > .page1 > p {padding:20px;color:white;}
.container > .page1 > article {float:left; margin:10px 10px; padding:3px; width:365px; height:330px; }
.container > .page1 > article > img {width:100%; height:50%;}
.container > .page1 > article > h1 {text-align: left; color:white;}
.container > .page1 > article > p {text-align:center; color:white;}

#price{width:100%; height:850px; color:white; background-color:#1a1a1a;}
.container2{background-color:#1a1a1a; width:1200px; height:850px;  text-align: center; align-items: center; margin:0 auto; z-index: 6;}
.container2 > .page2 {align-items: center; z-index: 6;}
.container2 > .page2 > h1 {padding:20px; color:white; z-index: 6;}
.container2 > .page2 > p {padding:20px;color:white; z-index: 6;}

#line{width:70px; margin:0 auto;}
#bottom{width:100%; margin:0 auto; color:white;}
#bottom2{width:100%; margin:0 auto; color:white;}
#bottom3{width:100%; margin:0 auto; color:white;}
table{width:1200px; height:600px; color:white; z-index: 6; margin:0 auto;}
td th{border:1px solid lightsalmon; color:white; z-index: 6;}




#service{width:100%; height:700px; background-color: #2079ab;}
.container4{margin:0 auto; width:1200px; height:700px; background-color: #2079ab; text-align: center;}
.container4 > .page4 {align-items: center; z-index: 6;}
.container4 > .page4 > h1 {padding:20px; color:white; z-index: 6;}
.container4 > .page4 > p {padding:20px;color:white; z-index: 6;}

#choose{width:100%; height:700px; background-color: #2079ab; overflow:hidden;}
.container5{margin:0 auto; width:1200px; height:700px; background-color:#2079ab; text-align: center;}
.container5 > .page5 {align-items: center; z-index: 6;}
.container5 > .page5 > .chh {padding:20px; color:white; z-index: 6; }
.container5 > .page5 > p {padding:20px;color:white; z-index: 6;}
#choose > video { object-fit: cover; width:100%; height:100%; overflow: hidden; z-index: 1;}

#review{width:100%; height:550px; background-color: #1a1a1a; }
.container6{margin:0 auto; width:1200px; height:550px; background-color: #1a1a1a; text-align: center;}
.container6 > .page6 {align-items: center; z-index: 6;}
.container6 > .page6 > h1 {padding:20px; color:white; z-index: 6;}
.container6 > .page6 > p {padding:20px;color:white; z-index: 6;}

#footer{width:100%; height:200px; background-color:#1a1a1a; text-decoration-line: none;}
.container7{padding:35px;margin:0 auto; width:1200px; height:200px; background-color:#1a1a1a; text-align: center; text-decoration-line: none;}
.social{display:inline-block; margin:0 auto; padding:0; text-align: center;}
.social{font-size:3em;}
.container7 > .social > a{color:white; text-decoration-line: none;}
.container7 > .social > a:hover{color:#2079ab;}

@media screen and (max-width:599px){
        .banner{width:100%; height:100vh;}
        #whats{width:100%; height:800px; display:flex;margin:0 auto;}
        .container{width:100%; height:800px; display:flex; flex-flow:column; margin:0 auto;}
        .page1{margin:0 auto;}
    }
    