#whats{width:100%; height:400px; background-color:red;}
.container{background-color:blue; width:1200px; height:400px; margin:0 auto; }
.container > .page1 > .wih {color:white; text-align: center;}
.container > .page1 > h3 { color:white;  }